bcrypt==3.1.0
Flask==0.10.1
Flask-Login==0.3.2
flask-mongoengine==0.7.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Jinja2==2.8
mongoengine==0.10.6
pymongo==3.2.2
SQLAlchemy==1.0.13
Werkzeug==0.11.10
WTForms==2.1